 /* selector */
 p {
     font-family: Roboto; 
     margin-top: 0;
     margin-bottom: 0;
 }

 /* CSS specificity */
 /* class selector - more specific - hence high priority */
 .video-title {
     /* font-family: Arial, Helvetica, sans-serif;
            font-size:30px;
            font-weight:bold;
            font-style:Italic;
            text-align:center; */
     /* font-family: Arial, Helvetica, sans-serif; */
     font-weight: bold;
     font-size: 18px;
     width: 280px;
     line-height: 24px;
     margin-bottom: 5px;
 }

 .video-stats {
     /* font-family: Arial, Helvetica, sans-serif; */
     font-size: 14px;
     color: #606060;
     /* margin-top:0; */
     margin-bottom: 20px;
 }

 .video-author {
     /* font-family: Arial, Helvetica, sans-serif; */
     font-size: 14px;
     color: #606060;
     /* margin-top: 0; */
     margin-bottom: 20px;
 }

 .video-desc {
     /* font-family: Arial, Helvetica, sans-serif; */
     font-size: 14px;
     color: #606060;
     /* wrap around */
     width: 280px;
     /* distance between lines of text */
     line-height: 22px;
     /* margin-top : 0; */
     margin-bottom: 100px;
 }

 .apple-text {
     margin-bottom: 50px;
     font-size: 14px;
     background-color: rgb(227, 65, 64);
     color: white;
     text-align: center;
     padding-top: 18px;
     padding-bottom: 18px;

 }

 .span-eg {
     color: red;
     margin-left: 12px;
 }

 .span-eg:hover {
     text-decoration: underline;
 }

 .shop-link {
     cursor: pointer;
 }

 .shop-link:hover {
     text-decoration: underline;
 }